.footer-navigation {
  max-width: 100%;
  padding: 0 15px;
  margin: 40px auto 0 auto;

  @include for-large-up {
    display: flex;
    width: 1140px;
    height: 339px;
    padding: 0;
  }
}

.about-company {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  padding: 0 30px;
  margin: 0 -15px;
  border-bottom: 1px solid $text-color-lighen;

  @include for-large-up {
    width: 360px;
    border: none;
  }

  & .logo {
    flex-direction: column;

    @include for-large-up {
      flex-direction: row;
    }

    &__title {
      margin-top: 20px;
      text-align: center;

      @include for-large-up {
        margin-top: 0;
        text-align: left;
      }
    }

    &__description {
      display: block;
    }

    &__image {
      margin: 0 auto;

      @include for-large-up {
        margin: 0;
        margin-right: 15px;
      }
    }
  }

  &__text {
    display: none;
    font-size: 18px;
    line-height: 26px;
    color: $text-color-lighen;

    @include for-large-up {
      display: block;
    }
  }
}

.downloads {
  margin-top: 25px;
  padding-bottom: 40px;
  white-space: nowrap;

  @include for-large-up {
    padding-bottom: 0;
  }

  &__link {
    margin-right: 10px;
    text-decoration: none;
  }

  & .google-play {
    margin-right: 0;
  }
}

.additional-navigation {
  max-width: 100%;
  margin-top: 30px;

  @include for-large-up {
    display: flex;
    margin-top: 0;
    width: 559px;
    margin-left: 157px;
  }

  &__column {
    margin-top: 30px;

    @include for-large-up {
      margin-top: 0;
      flex: 1;
    }
  }
}

.nav-links {
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }
  &__list {
    padding: 0;
    margin: 18px 0 0 0;
    list-style: none;

    &-item {
      font-size: 18px;
      line-height: 30px;
      color: $text-color-lighen;
    }
  }
}

.footer-line {
  @include for-large-up {
    width: $xxl;
    border-top: 1px solid $text-color-lighest;
  }
}

.footer-links {
  padding: 0 15px 20px 15px;
  margin-top: 30px;

  @include for-large-up {
    padding: 0;
    margin: 0 auto;
    width: 1100px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.terms {
  font-size: 14px;
  line-height: 22px;
  &__link {
    margin-right: 20px;
    text-decoration: none;
    color: $text-color-lighen;
  }
}

.socials {
  margin-top: 30px;

  @include for-large-up {
    margin-top: 0;
  }

  &__link {
    margin-left: 20px;
  }
}

.twitter {
  margin-left: 0;
  text-decoration: none;
  &__icon {
    display: inline-block;
    width: 21px;
    height: 16px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-twitter.png);
    background-repeat: no-repeat;
  }
}

.facebook {
  text-decoration: none;
  &__icon {
    display: inline-block;
    width: 18px;
    height: 17px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-fb.png);
    background-repeat: no-repeat;
  }
}

.linkedin {
  text-decoration: none;
  &__icon {
    display: inline-block;
    width: 18px;
    height: 17px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-linkedIn.png);
    background-repeat: no-repeat;
  }
}
