.headline {
  width: 1140px;
  margin: 81px auto 0;
  position: relative;

  &__title {
    position: relative;
    width: 754px;
    height: 165px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
  }

  &__description {
    width: 456px;
    height: 102px;
    margin-top: 34px;
    font-size: 24px;
    line-height: 34px;
  }

  &__buttons {
    margin-top: 58px;
  }

  &__banner {
    position: absolute;
    top: 0;
    right: -125px;
  }
}
