@import './variables.scss';
@import './breakpoints.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: $base-font-size;
  color: $text-color-main;
}

.page {
  width: $xxl;
  margin: 0 auto;
}

.btn {
  padding: 17px 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background: #3040c4;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: calc($border-radius / 4);
  border: none;
  color: $text-color-white;
}

.btn-inverted {
  color: #3040c4;
  background-color: #fff;
}

@import './header.scss';
@import './headline.scss';
@import './footer.scss';
