$base-font-size: 16px;

$border-radius: 8px;

$color-main: #f3c6bd;
$color-blue: #3040c4;
$color-light-blue: rgba(0, 161, 198, 0.07);
$color-light-grey: #f4f5f7;

$text-color-main: #2b292d;
$text-color-lighen: lighten($text-color-main, 40%);
$text-color-lighest: lighten($text-color-main, 75%);
$text-color-white: #fff;
